<div class="footer__wrapper">
  <address class="footer__item footer-adds">
    <h3 class="footer-adds__h3">КазЭнергоСтрой</h3>
    <span class="footer-adds__address">г. Казань, ул. М.Гафури, д. 50, пом. 2</span><br>
    <div class="footer-adds__tels">
      <p class="footer-adds__tel">240-00-26</p>
      <p class="footer-adds__tel">240-57-26</p>
    </div>
  </address>
  <section class="footer__item footer-social">
    <h3 class="footer-social__h3 footer__h3">давайте дружить!</h3>
    <div class="footer-social__wrapper">
      <a href="" class="footer-social__link footer-social__link--vk"></a>
      <a href="" class="footer-social__link footer-social__link--fb"></a>
      <a href="" class="footer-social__link footer-social__link--inst"></a>
    </div>
  </section>
  <section class="footer__item footer-develop">
    <h3 class="footer-develop__created footer__h3">разработано:</h3>
    <a href="" class="footer-develop__company">albert-studio-entertainment.com</a>
  </section>
</div>