{% load staticfiles %}
<div class="info">
  <a href="{% url 'index' %}">
    <picture>
      <source media="(max-width: 767px)" srcset="{% static 'static/img/index/logo-m-1.png' %}">
      <img class="info__logo" src="{% static 'static/img/index/logo-l-1.png' %}"
           alt="строительная компания казэнергострой" width="250">
    </picture>
  </a>
  <div class="info__radio">
    <span class="info__span info__span--header">Lorem ipsum.</span>
    <span class="info__tel">240-00-26</span>
    <span class="info__span info__span--footer">Работаем с 9:00 до 19:00</span>
  </div>
  <div class="info__radio">
    <span class="info__span info__span--header">Lorem ipsum dolor sit.</span>
    <span class="info__tel">240-57-26</span>
    <span class="info__span info__span--footer">Lorem ipsum dolor.</span>
  </div>
  <button class="info__btn btn" type="button" name="button">Оставить заявку</button>
</div>
<div class="main-nav">
  <nav class="main-nav__navigation">
    <button type="button" class="main-nav__toggle">
      <span class="main-nav__toggle-bar main-nav__toggle-bar-top"></span>
      <span class="main-nav__toggle-bar main-nav__toggle-bar-middle"></span>
      <span class="main-nav__toggle-bar main-nav__toggle-bar-bottom"></span>
    </button>
    <div class="main-nav__wrapper">
      <ul class="main-nav__items">
        <li class="main-nav__item"><a class="main-nav__link" href="{% url 'index' %}">главная</a></li>
        <li class="main-nav__item main-nav__item--submenu">
          <a class="main-nav__link" href="{% url 'building:home' %}">строительство</a>
          <ul class="main-nav__submenu">
            {% for itemBuilding in itemsBuilding %}
              <li class="main-nav__subitem">
                <a href="{{ itemBuilding.url }}" class="main-nav__sublink">{{ itemBuilding.nameInMenu }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="main-nav__item main-nav__item--submenu">
          <a class="main-nav__link" href="{% url 'shop:home' %}">магазин</a>
          <ul class="main-nav__submenu">
            {% for itemCategory in itemsCategory %}
              <li class="main-nav__subitem">
                <a href="{{ itemCategory.url }}" class="main-nav__sublink">{{ itemCategory.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="main-nav__item"><a class="main-nav__link" href="#">"коломаки"</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="{% url 'contacts' %}">контакты</a></li>
      </ul>
    </div>
    <button type="button" class="main-nav__cart">
      {% if totalItemsInCart %}
        {% if totalItemsInCart != 0 %}
          <span class="main-nav__num-cart">{{ totalItemsInCart }}</span>
        {% endif %}
      {% endif %}
    </button>

    <ul class="cart">
      {% if itemsInCart %}
        {% for itemInCart in itemsInCart %}
          <li class="cart__item">
            <a href="{{ itemInCart.url }}" class="cart__link">
              <span class="cart__title-item">{{ forloop.counter }}:</span>
              {% if itemInCart.nmb != 1 %}
                <span class="cart__name">{{ itemInCart.name }} (<small>x</small>{{ itemInCart.nmb }})</span><br>
              {% else %}
                <span class="cart__name">{{ itemInCart.name }}</span><br>
              {% endif %}
              <span class="cart__price">{{ itemInCart.price }} руб.</span>
            </a>
            <button type="submit" class="cart__remove" data-url="{{ itemInCart.url }}"></button>
          </li>
        {% endfor %}
      {% endif %}
      <li class="cart__item cart__item--total">
        <span class="cart__title-item cart__title-item--1">Товаров:</span>
        <span class="cart__total-item">
              {% if totalItemsInCart %}
                {{ totalItemsInCart }}
              {% else %}
                0
              {% endif %}
            </span><br>
        <span class="cart__title-item cart__title-item--2">Итого:</span>
        <span class="cart__total-price">
              {% if totalPriceInCart %}
                {{ totalPriceInCart }} руб.
              {% else %}
                0 руб.
              {% endif %}
            </span><br>
        <a href="{% url 'checkout' %}">
          <button type="button" class="cart__btn btn">оформить заказ</button>
        </a>
      </li>
    </ul>
  </nav>
</div>

