{% load staticfiles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
<meta name="format-detection" content="telephone=no">
<script src="{% static 'static/js/jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'static/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'static/css/style.css' %}">