<div class="popup-request">
  <button class="popup-request__close" type="button" title="закрыть"></button>
  <h2 class="popup-request__h2">форма обратной связи</h2>
  <p class="popup-request__thanks hidden">Спасибо, в ближайшее время мы с вами свяжемся</p>
  <form class="popup-request__form" id="feedbackForm" method="post">
    {% csrf_token %}
    <label class="popup-request__label">
      <span class="popup-request__item">Имя:</span>
      <input class="popup-request__btn" id="feedbackName" type="text" name="name" required>
    </label>
    <label class="popup-request__label">
      <span class="popup-request__item">телефон:</span>
      <input class="popup-request__btn" type="tel" name="tel">
    </label>
    <label class="popup-request__label">
      <span class="popup-request__item">почта:</span>
      <input class="popup-request__btn" id="feedbackEmail" type="email" name="email" required>
    </label>
    <label class="popup-request__label">
      <span class="popup-request__item">сообщение:</span>
      <textarea rows="3" class="popup-request__btn popup-request__textarea" type="text" name="message"></textarea>
    </label>
    <input class="popup-request__submit btn" id="feedbackSubmit" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
  </form>
</div>
<div class="overlay"></div>