.cart
  position: absolute
  width: 320px
  top: 50px
  right: 0
  display: none
  border: 2px solid $darkgrey

  background-color: $white
  box-shadow: 0 0 10px rgba(0,0,0,0.5)



  &__item
    position: relative
    display: flex
    padding: 10px
    padding-left: 5px
    text-align: right

    &::after
      position: absolute
      content: ''
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      background-color: $darkbrown


    &--total
      display: block
      padding-bottom: 15px
      &::after
        display: none

  &__link
    position: relative
    display: block
    max-width: 265px
    padding-right: 10px
    color: $black
    flex-grow: 1

    &::after
      position: absolute
      content: ''
      right: 0
      top: 10%
      width: 2px
      height: 80%
      background-color: $darkbrown

  &__remove
    position: relative
    align-self: center
    width: 30px
    height: 30px
    padding: 0
    margin: 0
    margin-left: 10px
    background: none
    border: none
    cursor: pointer

    &::after,
    &::before
      position: absolute
      content: ''
      width: 30px
      height: 3px
      top: 14px
      left: 0
      transition: 0.3s
      border-radius: 2px
      background-color: $darkgrey

    &::after
      transform: rotate(45deg)

    &::before
      transform: rotate(-45deg)

    &:hover
      &::before,
      &::after
        background-color: $darkbrown


  &__title-item
    //display: inline-block
    float: left
    margin: 0 5px
    color: $darkgrey

    &--1
      top: 10px

    &--2
      top: 37px

  &__name,
  &__price
    display: inline-block
    max-width: 225px
    font-size: 15px
    line-height: 18px

  &__price
    text-decoration: underline

  &__btn
    margin: 0 auto
    margin-top: 10px

@media (max-width: 767px)
  .cart
    box-sizing: border-box
    border-top: none
    border-right: none

@media (min-width: 768px)
  .cart
    top: 66px
