.checkout
  +container-fluid
  &__header
    &::after
      top: -40px
      background-color: $black

  &__h
    background-color: $white

  &__wrapper
    padding: 0 15px
    margin: 0 auto

  &__total
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 20px 10px
    font-size: 20px
    color: $darkgrey

  &__len-items,
  &__total-price
    margin-bottom: 10px
    position: relative

    &::after
      position: absolute
      content: ''
      bottom: 0
      left: 0
      right: 0
      height: 2px
      background-color: $darkbrown

  &__len-items
    margin-right: 50px

.main-cart
  &__img
    width: 90px
    height: 130px
    background-color: $darkbrown

  &__item
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    position: relative
    padding: 20px 0

    &::after
      position: absolute
      content: ''
      bottom: 0
      left: 0
      right: 0
      height: 2px
      background-color: $darkbrown

  &__link
    color: $black

    &:hover
      text-decoration: underline

  &__remove
    width: 40px
    height: 40px
    &-btn
      position: relative
      width: 40px
      height: 40px
      margin: 0
      padding: 0
      border: none
      background: none
      cursor: pointer

      &::after,
      &::before
        position: absolute
        content: ''
        top: 18px
        left: 0
        width: 40px
        height: 4px
        transition: 0.3s
        border-radius: 5px
        background-color: $darkgrey

      &::after
        transform: rotate(45deg)

      &::before
        transform: rotate(-45deg)

    &-btn:hover
      &::before,
      &::after
        background-color: $darkbrown

  &__wrapper
    align-self: flex-end

  &__item-name
    font-size: 23px
    line-height: 30px
    margin: 0
    margin-bottom: 10px
    flex-basis: 80%

  &__item-price
    text-align: right

  &__label
    display: flex

  &__number
    position: relative
    width: 40px
    height: 40px
    background-color: $darkbrown
    cursor: pointer

    &::before
      position: absolute
      content: ''
      width: 30px
      height: 3px
      top: 19px
      left: 5px
      background-color: $white

    &--plus
      &::after
        position: absolute
        content: ''
        left: 19px
        top: 5px
        width: 3px
        height: 30px
        background-color: $white

  &__nmb
    text-align: center
    box-sizing: border-box
    font-size: 30px
    width: 40px
    height: 40px
    color: $darkgrey

@media (max-width: 767px)
  .checkout
    &__h
      font-size: 30px

    &__total
      max-width: 500px
      margin: 0 auto

  .main-cart
    max-width: 500px
    margin: 0 auto

    &__item-name
      font-size: 20px
      line-height: 25px

@media (min-width: 768px)

  .main-cart

    &__item
      justify-content: flex-start

    &__img
      margin-right: 50px
      order: 0

    &__item-name
      flex-basis: 220px
      flex-grow: 1
      order: 1

    &__wrapper
      margin: 0 10%
      order: 2

    &__remove
      order: 3

