.contact-page
  background-color: $verylightgrey
  padding-bottom: 30px
  &__header
    &::after
      background-color: $black
      top: -42px

  &__h
    margin-top: 30px
    background-color: $verylightgrey

  &__main-info
    +container-fluid
    margin: 0 auto

  &__section
    margin-bottom: 20px
    &:last-of-type
      margin-bottom: 0

  &__title,
  &__info
    text-align: center
    text-transform: none

  &__title
    display: block
    font-size: 21px

  &__info
    margin: 0
    font-weight: normal

.map
  +container-fluid
  &__header
    &::after
      background-color: $black
      top: -45px

  &__h
    margin-top: 30px
    background-color: $white

  &__map
    display: block
    width: 90%
    min-width: 320px
    height: 300px
    margin: 0 auto
    margin-bottom: 30px

@media (max-width: 767px)
  .contact-page
    &__main-info
      width: 90%
      max-width: 500px

@media (min-width: 768px)
  .contact-page
    &__main-info
      display: flex
      flex-wrap: wrap
      justify-content: space-around

    &__section
      flex-basis: 50%
      margin-bottom: 40px

    &__info
      max-width: 350px
      margin: 0 auto

  .map
    &__map
      height: 500px
