.feature
  +container-fluid

  &__wrapper
    display: flex

  &-item
    text-align: center

    &__header
      font-size: 25px
      line-height: 30px

    &__img
      width: 200px
      height: 200px
      margin: 0 auto
      //background-color: $lightbrown

    &__descr
      max-width: 300px
      margin: 10px auto
      font-size: 16px
      line-height: 20px

@media (max-width: 767px)
  .feature
    position: relative
    overflow: hidden

    &__wrapper
      position: relative
      left: 0
      width: 300%
      transition: 1s

    &-item
      flex-basis: 33.3%
      flex-grow: 1

    &__control
      position: absolute
      top: 50%
      padding: 20px
      transform: translateY(-50%)
      font-size: 20px
      font-weight: bold
      user-select: none
      cursor: pointer

      &--prev
        left: 0

      &--next
        right: 0

@media (min-width: 768px)
  .feature
    margin-top: 20px
    margin-bottom: 30px
    &__wrapper
      justify-content: space-around

    &-item
      position: relative
      width: 26%

    &__control
      display: none
