.info
  +container-fluid
  display: flex
  padding: 15px 0
  justify-content: space-around
  align-items: center
  background-color: $darkgrey

  &__tel
    display: block
    width: 100%

  &__btn
    display: none

.btn
  display: block

.main-nav
  background-color: $darkgrey

  &__navigation
    position: relative
    +container-fluid

  &__items
    +container-fluid
    display: flex
    flex-direction: column
    text-align: center

  &__item
    position: relative



  &__submenu
    display: none
    position: absolute
    width: 100%
    top: 100%
    left: 50%
    transform: translateX(-50%)
    background-color: $lightdark
    z-index: 3

  &__subitem
    position: relative

    &::after
      position: absolute
      content: ''
      width: 90%
      height: 1px
      left: 5%
      bottom: 0
      background-color: $darkgrey

    &:last-of-type
      &::after
        display: none

  &__sublink
    display: block
    padding: 10px 0
    transition: 0.3s
    font-size: 16px


    &:hover
      color: $lightbrown

  &__cart
    position: relative
    width: 80px
    border: none
    cursor: pointer
    background-color: $darkgrey
    background-image: url("../img/shop/cart.svg")
    background-repeat: no-repeat
    background-position: 45% 60%
    background-size: 35px
    transition: 0.3s

    &--main-page
      pointer-events: none
      cursor: auto
      background-image: url("../img/shop/cart-unselected.svg")


  &__num-cart
    position: absolute
    display: block
    width: 20px
    height: 20px
    right: 10px
    top: 10px
    border-radius: 50%
    color: $white
    background-color: $darkbrown

    

  &__link
    display: block
    padding: 12px 0



@media (max-width: 767px)
  .info
    padding: 10px
    justify-content: center

    &__radio,
    &__btn
      display: none


  .main-nav
    background-color: $lightbrown
    &__navigation
      min-height: 50px

    &__wrapper
      position: absolute
      display: none
      top: 0
      right: 0
      left: 60px
      height: 70vh
      min-height: 300px
      background-color: $lightbrown


    &__item
      &::after
        position: absolute
        content: ""
        display: block
        width: 100%
        height: 1px
        bottom: 0
        background-color: $darkbrown

    &__toggle
      position: absolute
      display: block
      width: 60px
      height: 50px
      padding: 8px 12px
      top: 0
      left: 0
      cursor: pointer
      border: none
      background-color: $darkbrown

      &-bar
        display: block
        width: 36px
        height: 3px
        margin-bottom: 10px
        background-color: $white
        transform: rotate(0deg)
        transition: 0.3s

        &:last-of-type
          margin-bottom: 0

      &--opened .main-nav__toggle-bar-top
        width: 43px
        margin-left: -4px
        transform: translateY(13px) rotate(135deg)

      &--opened .main-nav__toggle-bar-middle
        opacity: 0

      &--opened .main-nav__toggle-bar-bottom
        margin-left: -4px
        width: 43px
        transform: translateY(-13px) rotate(-135deg)

    &__cart
      position: absolute
      top: 0
      right: 0
      bottom: 0
      width: 60px
      height: 50px
      background-color: $darkbrown

    &__num-cart
      top: 5px
      right: 5px
      background-color: $lightdark





@media (min-width: 768px)
  .info
    background-color: $bgc

    &__logo
      width: 300px

    &__radio:nth-child(2)
      display: none

    &__span
      text-transform: none
      font-weight: 400
      color: $lightdark

      &--footer
        color: $black

    &__tel
      color: $darkbrown



  .main-nav

    &__navigation
      display: flex
      justify-content: center

    &__wrapper
      flex-grow: 1

    &__toggle
      display: none

    &__items
      flex-direction: row
      justify-content: space-around

    &__item
      flex-grow: 1



      &::after
        position: absolute
        content: ""
        display: block
        width: 1px
        height: 80%
        top: 10%
        right: 0
        background-color: $lightdark

    &__cart
      &:hover
        background-image: url("../img/shop/cart-hover.svg")

    &__link
      padding: 20px 0

      &:hover
        transition: 0.3s
        color: $lightbrown

@media (min-width: 1200px)
  .info
    &__radio:nth-child(2)
      display: block

  .main-nav
    &__item
      &--submenu:hover .main-nav__submenu
        display: block
