.cognate-items
  +container-fluid
  padding-bottom: 30px
  &__title
    text-align: center

.item-page
  margin-top: 30px
  +container-fluid


  &__title
    padding: 0 20px
    margin-top: 0
    margin-bottom: 40px
    text-align: center

  &__img
    width: 250px
    height: 300px
    background-color: $darkbrown

  &__section
    display: flex
    flex-wrap: wrap
    margin: 0 auto


    &-title
      margin-bottom: 20px

    &--descr,
    &--details
      background-color: $verylightgrey

  &__price
    flex-basis: 50%
    flex-grow: 1
    text-align: right
    text-decoration: underline

  &__form-buy
    flex-basis: 100%

  &__btn
    margin: 0 auto


  &__detail
    flex-basis: 100%
    margin-top: 0
    text-transform: none
    color: $darkgrey



@media (max-width: 767px)
  .item-page

    &__section
      position: relative
      padding: 20px 15px

      &::before
        position: absolute
        content: ''
        width: 100%
        height: 2px
        top: 0
        left: 0
        background-color: $darkbrown

    &__title
      font-size: 27px
      line-height: 30px

    &__img
      margin: 0 auto
      margin-bottom: 20px



@media (min-width: 768px)
  .cognate-items__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-around

  .item-page
    margin-top: 50px

    &__info
      display: flex
      flex-wrap: wrap
      justify-content: space-between

    &__img
      margin-left: 50px

    &__section
      flex-basis: 280px
      flex-grow: 1
      align-self: flex-start
      margin: 20px 0
      order: 2

      &--price
        flex-basis: 200px
        flex-grow: 0
        margin: 30px
        align-self: flex-end
        order: 1

      &--descr,
      &--details
        position: relative
        flex-basis: 100%
        margin: 0
        padding: 20px
        background-color: $verylightgrey

        &::after
          position: absolute
          content: ''
          top: 0
          left: 0
          width: 100%
          height: 2px
          background-color: $darkbrown

    &__btn
      margin: 0
      margin-left: auto

    &__img
      margin-bottom: 30px
      order: 0
