.order
  padding-bottom: 30px
  background-color: $verylightgrey

  &__thanks
    max-width: 250px
    margin: 70px auto
    text-align: center
    color: $darkgrey
    font-size: 21px

  &__header

    &::after
      background-color: $black

  &__h
    background-color: $verylightgrey

  &__form
    +container-fluid


  &__fieldset
    margin: 0
    border: none

    &--submit
      margin-top: 30px

    &:first-of-type
      position: relative
      &::after
        position: absolute
        content: ''
        background-color: $darkgrey

  &__label
    width: 100%

  &__input
    box-sizing: border-box
    width: 100%
    padding: 5px
    transition: 0.3s
    border: 3px solid $lightbrown

    &::placeholder
      color: #CC3434

    &:hover
      border: 3px solid $lightdark

    &--textarea
      outline: none
      resize: none

  &__submit
    margin: 0 auto
    margin-top: 30px

  &__title
    display: block
    margin-bottom: 5px


@media (max-width: 767px)
  .order
    &__header

      &::after
        top: -60px
    &__h
      font-size: 30px
      max-width: 210px
      word-wrap: break-word
    &__fieldset
      max-width: 400px
      padding: 0 20px
      margin: 0 auto

      &:first-of-type
        padding-bottom: 20px
        margin-bottom: 10px

        &::after
          bottom: 0
          left: 5px
          right: 5px
          height: 2px

@media (min-width: 768px)
  .order
    &__form
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap

    &__fieldset
      flex-grow: 1
      max-width: 400px
      padding: 0 5%

      &:first-of-type

        &::after
          right: -1px
          top: 0
          bottom: 0
          width: 2px

      &--submit
        flex-basis: 100%

@media (min-width: 1200px)
  .order
    &__fieldset
      padding: 0 10%
