.page-features
  background-color: $verylightgrey

  &__wrapper
    +container-fluid
    display: flex
    justify-content: space-around

  &__item
    position: relative
    flex-basis: 33.3%
    padding: 0 20px

    &::before
      position: absolute
      content: ''
      height: 2px
      top: 10px
      left: 20px
      right: 20px
      background-color: $lightbrown

  &__text
    text-align: center
    color: $black

@media (max-width: 767px)
  .page-features

    &__wrapper
      display: block

    &__item
      max-width: 500px
      margin: 0 auto
      padding: 15px 0

    &__text
      font-size: 16px
      padding: 0 10px
      margin: 0
