.page-header
  background-color: $verylightgrey

  &__header

    &::after
      top: -40px
      background-color: $black

  &__descr
    text-align: center
    margin: 0 auto
    width: 80%
    max-width: 900px
    padding-bottom: 50px

  &__h
    background-color: $verylightgrey

.page-info
  +container-fluid
  background: none

  &__header

    &::after
      top: -45px
      background-color: $black

  &__h
    background-color: $white

  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-around


  &__item
    position: relative
    flex-basis: 256px
    flex-grow: 1
    padding-bottom: 30px

    &::before
      position: absolute
      content: ''
      background-color: $darkbrown

  &__link
    display: block
    margin: 0 auto
    max-width: 230px
    color: $black

  &__title
    font-size: 25px
    text-align: center

  &__img
    width: 200px
    height: 250px
    margin: 0 auto
    background-color: $lightbrown

  &__descr
    width: 80%
    margin: 0 auto
    margin-top: 10px
    text-align: center


@media (max-width: 767px)
  .page-header
    &__descr
      font-size: 16px
      width: 90%
  .page-info
    &__item
      &::before
        width: 90%
        height: 2px
        bottom: 0
        left: 5%

      &:last-of-type::before
        display: none


@media (min-width: 768px)
  .page-info

    &__item
      &::before
        width: 2px
        height: 80%
        top: 10%
        right: 0

      &:nth-child(3n + 3)
        &::before
          display: none

@media (min-width: 1024px)
  .page-info

    &__item
      flex-basis: 301px