.popup-request
  position: fixed
  display: none
  box-sizing: border-box
  top: 10%
  left: 50%
  width: 90%
  max-height: 90%
  max-width: 500px
  padding: 0 10px
  transform: translateX(-50%)
  z-index: 10
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  background-color: $white

  &__close
    position: absolute
    box-sizing: border-box
    content: ""
    width: 45px
    height: 45px
    top: 0
    right: 0
    background-color: transparent
    border: none
    outline: none
    cursor: pointer

    &::before,
    &::after
      position: absolute
      content: ""
      top: 45%
      left: 7px
      width: 30px
      height: 3px
      background-color: $darkgrey
      transition: 0.3s

    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)

    &:hover

      &::before,
      &::after
        background-color: $darkbrown

  &__h2
    position: relative
    margin-top: 40px
    font-size: 22px
    text-align: center

    &::before
      position: absolute
      content: ''
      width: 60%
      height: 2px
      bottom: -10px
      left: 20%
      background-color: $darkbrown



  &__item
    margin-left: 10px

  &__btn
    box-sizing: border-box
    width: 100%
    padding: 5px
    margin-bottom: 10px
    border: 3px solid $verylightgrey
    transition: 0.3s

    &:focus
      border: 3px solid $lightbrown
      outline: none

    &:hover
      border: 3px solid $lightbrown
      outline: none

    &::placeholder
      color: #CC3434

  &__textarea
    resize: none

  &__submit
    margin: 30px auto


  &__thanks
    max-width: 250px
    margin: 70px auto
    text-align: center
    font-size: 21px

.overlay
  z-index: 5
  position: fixed
  display: none
  background-color: $black
  opacity: 0.8
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer

@media (max-width: 767px)
  .popup-request
    top: 5%

@media (max-height: 660px)
  .popup-request
    overflow-y: scroll
