.result-container
  +container-fluid
  padding-bottom: 30px
  min-height: 510px // fixme

  &__alert
    max-width: 500px
    margin-top: 100px
    text-align: center
    font-size: 26px
    line-height: 32px
    color: $lightdark

.paginator
  display: block
  margin: 30px auto


@media (min-width: 768px)
  .result-container
    display: flex
    flex-wrap: wrap
    justify-content: space-around
