body
  font-family: "PT Sans", Arial, sans-serif
  font-size: 18px
  line-height: 26px
  font-weight: 700
  text-transform: uppercase
  color: $black
  background-color: $bgc

img
  max-width: 100%
  height: auto

ul
  list-style: none
  padding: 0
  margin: 0

li
  margin: 0
  padding: 0

a
  color: #ffffff
  text-decoration: none

input,
button
  &:focus,
  &:active
    outline: none

.hidden
  display: none

.btn
  display: block
  width: 200px
  height: 50px
  background-color: $lightbrown
  border: none
  border-radius: 3px
  color: $white
  text-transform: uppercase
  cursor: pointer

  &:hover
    transition: 0.3s
    background-color: $darkbrown

  &:disabled
    background-color: $lightdark
