<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <title>Строительство под ключ в Казани, Татарстане | «КазЭнергоСтрой»</title>
    {% include 'base/head.html' %}
</head>
<body>
<header class="header">
    {% include 'base/header.html' %}
</header>
<main>
    <div class="page-header">
        <div class="page-header__header text-header">
            <h1 class="page-header__h text-h">Строительство в Казани</h1>
        </div>
        <p class="page-header__descr">Наша фирма выполняет все необходимые услуги - от создания планировки и дизайна, до
            строительства и сервисного обслуживания.
            Для реализации своих проектов, мы используем только качественные материалы и комплектующие от ведущих
            производителей.
            За все время мы обустроили такие крупные и узнаваемые объекты, как: банные комплексы «Ночной бриз», сауны в
            компании «Барс-холдинг»,
            в Госсовете РТ, «Игрушка», отеле «Корстон». Ниже вы можете выбрать интересующую область из списка наших
            услуг и узнать о ней более подробную информацию.</p>
    </div>
    <div class="page-info">
        <div class="page-info__header text-header">
            <h2 class="page-info__h text-h">Наши услуги:</h2>
        </div>
        <div class="page-info__wrapper">
            {% for itemBuilding in itemsBuilding %}
                <section class="page-info__item">
                    <a class="page-info__link" href="{{ itemBuilding.url }}">
                        <h3 class="page-info__title">{{ itemBuilding.name }}</h3>
{#                        <img src="" alt="" class="page-info__img">#}
                        <div class="page-info__img"></div>
                        <p class="page-info__descr">{{ itemBuilding.descr }}</p>
                    </a>
                </section>
            {% endfor %}
        </div>
    </div>
</main>
<footer class="footer">
    {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'static/js/header.js' %}"></script>
</body>
</html>
