<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <title>{{ itemBuilding.title }}</title>
  {% include 'base/head.html' %}
</head>
<body>
<header class="header">
  {% include 'base/header.html' %}
</header>
<main>
  <div class="page-header">
    <div class="page-header__header text-header">
      <h1 class="page-header__h text-h">{{ itemBuilding.name }}</h1>
    </div>
    <p class="page-header__descr">{{ itemBuilding.text }}</p>
  </div>
  <div class="page-features">
    <div class="page-features__wrapper">
      {% if itemBuilding.features1 %}
        <section class="page-features__item">
          <p class="page-features__text">{{ itemBuilding.features1 }}</p>
        </section>
      {% endif %}
      {% if itemBuilding.features2 %}
        <section class="page-features__item">
          <p class="page-features__text">{{ itemBuilding.features2 }}</p>
        </section>
      {% endif %}
      {% if itemBuilding.features3 %}
        <section class="page-features__item">
          <p class="page-features__text">{{ itemBuilding.features3 }}</p>
        </section>
      {% endif %}
    </div>
  </div>
</main>
<footer class="footer">
  {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'static/js/header.js' %}"></script>
</body>
</html>
