<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <title>{{ categoryModel.title }}</title>
  {% include 'base/head.html' %}
</head>
<body>
<header class="header">
  {% include 'base/header.html' %}
</header>
<main>
  <div class="page-header">
    <div class="page-header__header text-header">
      <h1 class="page-header__h text-h">{{ categoryModel.name }}</h1>
    </div>
    <p class="page-header__descr">{{ categoryModel.text }}</p>
  </div>
  <form action="search=" method="get" class="search" id="search">
    <input type="search" class="search__result" name="search" placeholder="поиск">
    <button type="submit" class="search__submit"></button>
  </form>
  <form action="sort=" method="get" class="filter" id="filter">
    <div class="filter__header">
      <h2 class="filter__h2">фильтры</h2>
      <img class="filter__arrow" src="{% static 'static/img/shop/arrow.png' %}" width="30" height="32"
           alt="arrow">
    </div>
    <div class="filter__fieldsets" style="display: none">
      {% if categoryModel.propManufacturer %}
        <fieldset class="filter__fieldset">
          <p class="filter__legend">производитель:</p>
          <div class="filter__wrapper">
            <label class="filter__item">
              <input type="checkbox" class="filter__checkbox" name="manufacturer" value="Harvia">
              <i class="filter__checkbox--check"></i>
              <span class="filter__span">Harvia</span>
            </label>
            <label class="filter__item">
              <input type="checkbox" class="filter__checkbox" name="manufacturer" value="Tylo">
              <i class="filter__checkbox--check"></i>
              <span class="filter__span">Tylo</span>
            </label>
          </div>
        </fieldset>
      {% endif %}

      {% if categoryModel.propType %}
        <fieldset class="filter__fieldset">
          <p class="filter__legend">тип:</p>
          <div class="filter__wrapper">
            {% for typeModel in typesModel %}
              <label class="filter__item filter__item--type">
                <input type="checkbox" class="filter__checkbox" name="type" value="{{ typeModel.0 }}">
                <i class="filter__checkbox--check"></i>
                <span class="filter__span">{{ typeModel.1 }}</span>
              </label>
            {% endfor %}
          </div>
        </fieldset>
      {% endif %}

      {% if categoryModel.propPrice %}
        <fieldset class="filter__fieldset">
          <p class="filter__legend">цена (руб.):</p>
          <div class="filter__wrapper">
            <label class="filter__item filter__item--number">
              <span class="filter__span">от:</span>
              <input type="number" class="filter__number" name="minPrice" min="0">
            </label>
            <label class="filter__item filter__item--number">
              <span class="filter__span">до:</span>
              <input type="number" class="filter__number" name="maxPrice" min="0">
            </label>
          </div>
        </fieldset>
      {% endif %}

      {% if categoryModel.propPower %}
        <fieldset class="filter__fieldset">
          <p class="filter__legend">мощность (кв.):</p>
          <div class="filter__wrapper">
            <label class="filter__item filter__item--number">
              <span class="filter__span">от:</span>
              <input type="number" class="filter__number" name="minPower" min="0">
            </label>
            <label class="filter__item filter__item--number">
              <span class="filter__span">до:</span>
              <input type="number" class="filter__number" name="maxPower" min="0">
            </label>
          </div>
        </fieldset>
      {% endif %}

      {% if categoryModel.propAmount %}
        <fieldset class="filter__fieldset">
          <p class="filter__legend">объем парильни (м<sup>3</sup>):</p>
          <div class="filter__wrapper filter__wrapper--amount">
            <label class="filter__item filter__item--number">
              <input type="number" class="filter__number filter__number--amount" name="amount" min="0">
            </label>
          </div>
        </fieldset>
      {% endif %}
      <fieldset class="filter__fieldset filter__fieldset--submit">
        <button type="submit" class="filter__submit btn">Показать</button>
      </fieldset>
    </div>
  </form>
  <div class="result-container">
  </div>
  <button class="paginator btn" type="submit" value="2">показать еще</button>
</main>
<footer class="footer">
  {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'static/js/header.js' %}"></script>
<script src="{% static 'static/js/shop/itemsShop.js' %}"></script>
</body>
</html>
