<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <title>Document</title>
  {% include 'base/head.html' %}
</head>
<body>
<header class="header">
  {% include 'base/header.html' %}
</header>
<main>
  <div class="item-page">
    <h1 class="item-page__title">{{ item.name }}</h1>
    <div class="item-page__info">
      <div class="item-page__img"></div>
      <!-- <img src="" alt="" class="item__img"> -->
      <section class="item-page__section item-page__section--price">
        <span class="item-page__section-title">Цена:</span>
        <span class="item-page__price">{{ item.price }} руб.</span>
        <form action="cart_add=" method="get" class="item-page__form-buy" data-slug="{{ item.url }}"
              data-name="{{ item.name }}" data-price="{{ item.price }}">
          <button type="submit" class="item-page__btn btn">Добавить в корзину</button>
        </form>
      </section>
      <section class="item-page__section item-page__section--details">
        <span class="item-page__section-title">основные характеристики:</span>
        {% if item.manufacturer %}
          <span class="item-page__detail">Производитель: &ensp; {{ item.manufacturer }}</span>
        {% endif %}
        {% if item.type %}
          <span class="item-page__detail">Тип: &ensp; {{ item.get_type_display }}</span>
        {% endif %}
        {% if item.power %}
          <span class="item-page__detail">Мощность: &ensp; {{ item.power }} кВт</span>
        {% endif %}
        {% if item.beforeAmount and item.afterAmount %}
          <span
              class="item-page__detail">Объем: &ensp; {{ item.beforeAmount }}м<sup>3</sup> - {{ item.afterAmount }}м<sup>3</sup></span>
        {% endif %}
      </section>
      <section class="item-page__section item-page__section--descr">
        <span class="item-page__section-title">Описание:</span>
        <p class="item-page__detail">{{ item.description }}</p>
      </section>
    </div>
  </div>
  <div class="cognate-items">
    <h2 class="cognate-items__title">Похожие товары:</h2>
    <div class="cognate-items__wrapper">
      {% for cognateItem in cognateItems %}
      <a href="{{ cognateItem.fullSlug }}" class="product">
        <h2 class="product__title">{{ cognateItem.name }}</h2>
        <div class="product__info">
          <div class="product__img"></div>
          <div class="product__wrapper">
            {% if cognateItem.power %}
              <span class="product__power">Мощность: {{ cognateItem.power }}кВт</span>
            {% endif %}
            {% if cognateItem.beforeAmount and cognateItem.afterAmount %}
              <span class="product__amount">Объем: {{ cognateItem.beforeAmount }}м<sup>3</sup> - {{ cognateItem.afterAmount }}м<sup>3</sup></span>
            {% endif %}
            {% if cognateItem.price %}
              <span class="product__price">Цена: {{ cognateItem.price }} руб.</span>
            {% endif %}
            <form action="cart_add=" class="product__buy" method="get" data-slug="{{ cognateItem.fullSlug }}"
                  data-name="{{ cognateItem.name }}" data-price="{{ cognateItem.price }}">
              <button type="submit" class="product__add-cart btn">добавить в корзину</button>
            </form>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </div>
</main>
<footer class="footer">
  {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'static/js/header.js' %}"></script>
<script src="{% static 'static/js/shop/item.js' %}"></script>
</body>
</html>
