<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <title>Document</title>
  {% include 'base/head.html' %}
</head>
<body>
<header class="header">
  {% include 'base/header.html' %}
</header>
<main>
  <div class="page-header">
    <div class="page-header__header text-header">
      <h1 class="page-header__h text-h">Магазин</h1>
    </div>
    <p class="page-header__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur corporis
      culpa
      cumque distinctio, dolorem doloribus eaque expedita facere incidunt ipsam libero minus nisi officiis, perspiciatis
      quam tempora! Ad, animi aperiam architecto dolorum ea, eos esse excepturi expedita iusto labore laudantium nihil
      nisi obcaecati quis reiciendis rem repudiandae saepe suscipit?</p>
  </div>
  <div class="page-info">
    <div class="page-info__header text-header">
      <h2 class="page-info__h text-h">Мы продаем:</h2>
    </div>
    <div class="page-info__wrapper">
        {% for itemCategory in itemsCategory %}
            <section class="page-info__item">
                <a class="page-info__link" href="{{ itemCategory.url }}">
                    <h3 class="page-info__title">{{ itemCategory.name }}</h3>
                    {#                        <img src="" alt="" class="page-info__img">#}
                    <div class="page-info__img"></div>
                    <p class="page-info__descr">{{ itemCategory.descr }}</p>
                </a>
            </section>
        {% endfor %}
    </div>
  </div>
</main>
<footer class="footer">
  {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'static/js/header.js' %}"></script>
</body>
</html>
