/* line 1, ../sass/_scaffolding.sass */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

/* line 10, ../sass/_scaffolding.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 14, ../sass/_scaffolding.sass */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/_scaffolding.sass */
li {
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/_scaffolding.sass */
a {
  color: #ffffff;
  text-decoration: none;
}

/* line 29, ../sass/_scaffolding.sass */
input:focus, input:active,
button:focus,
button:active {
  outline: none;
}

/* line 33, ../sass/_scaffolding.sass */
.hidden {
  display: none;
}

/* line 36, ../sass/_scaffolding.sass */
.btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #826550;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 47, ../sass/_scaffolding.sass */
.btn:hover {
  transition: 0.3s;
  background-color: #6a4d38;
}
/* line 51, ../sass/_scaffolding.sass */
.btn:disabled {
  background-color: #454545;
}

/* line 1, ../sass/_header.sass */
.info {
  width: auto;
  display: flex;
  padding: 15px 0;
  justify-content: space-around;
  align-items: center;
  background-color: #2a2a2a;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_header.sass */
  .info {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 9, ../sass/_header.sass */
.info__tel {
  display: block;
  width: 100%;
}
/* line 13, ../sass/_header.sass */
.info__btn {
  display: none;
}

/* line 16, ../sass/_header.sass */
.btn {
  display: block;
}

/* line 19, ../sass/_header.sass */
.main-nav {
  background-color: #2a2a2a;
}
/* line 22, ../sass/_header.sass */
.main-nav__navigation {
  position: relative;
  width: auto;
}
@media (min-width: 1200px) {
  /* line 22, ../sass/_header.sass */
  .main-nav__navigation {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 26, ../sass/_header.sass */
.main-nav__items {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1200px) {
  /* line 26, ../sass/_header.sass */
  .main-nav__items {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 32, ../sass/_header.sass */
.main-nav__item {
  position: relative;
}
/* line 37, ../sass/_header.sass */
.main-nav__submenu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #454545;
  z-index: 3;
}
/* line 47, ../sass/_header.sass */
.main-nav__subitem {
  position: relative;
}
/* line 50, ../sass/_header.sass */
.main-nav__subitem::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  left: 5%;
  bottom: 0;
  background-color: #2a2a2a;
}
/* line 60, ../sass/_header.sass */
.main-nav__subitem:last-of-type::after {
  display: none;
}
/* line 63, ../sass/_header.sass */
.main-nav__sublink {
  display: block;
  padding: 10px 0;
  transition: 0.3s;
  font-size: 16px;
}
/* line 70, ../sass/_header.sass */
.main-nav__sublink:hover {
  color: #826550;
}
/* line 73, ../sass/_header.sass */
.main-nav__cart {
  position: relative;
  width: 80px;
  border: none;
  cursor: pointer;
  background-color: #2a2a2a;
  background-image: url("../img/shop/cart.svg");
  background-repeat: no-repeat;
  background-position: 45% 60%;
  background-size: 35px;
  transition: 0.3s;
}
/* line 85, ../sass/_header.sass */
.main-nav__cart--main-page {
  pointer-events: none;
  cursor: auto;
  background-image: url("../img/shop/cart-unselected.svg");
}
/* line 91, ../sass/_header.sass */
.main-nav__num-cart {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #6a4d38;
}
/* line 104, ../sass/_header.sass */
.main-nav__link {
  display: block;
  padding: 12px 0;
}

@media (max-width: 767px) {
  /* line 111, ../sass/_header.sass */
  .info {
    padding: 10px;
    justify-content: center;
  }
  /* line 115, ../sass/_header.sass */
  .info__radio, .info__btn {
    display: none;
  }

  /* line 120, ../sass/_header.sass */
  .main-nav {
    background-color: #826550;
  }
  /* line 122, ../sass/_header.sass */
  .main-nav__navigation {
    min-height: 50px;
  }
  /* line 125, ../sass/_header.sass */
  .main-nav__wrapper {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 60px;
    height: 70vh;
    min-height: 300px;
    background-color: #826550;
  }
  /* line 137, ../sass/_header.sass */
  .main-nav__item::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #6a4d38;
  }
  /* line 146, ../sass/_header.sass */
  .main-nav__toggle {
    position: absolute;
    display: block;
    width: 60px;
    height: 50px;
    padding: 8px 12px;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
    background-color: #6a4d38;
  }
  /* line 158, ../sass/_header.sass */
  .main-nav__toggle-bar {
    display: block;
    width: 36px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #ffffff;
    transform: rotate(0deg);
    transition: 0.3s;
  }
  /* line 167, ../sass/_header.sass */
  .main-nav__toggle-bar:last-of-type {
    margin-bottom: 0;
  }
  /* line 170, ../sass/_header.sass */
  .main-nav__toggle--opened .main-nav__toggle-bar-top {
    width: 43px;
    margin-left: -4px;
    transform: translateY(13px) rotate(135deg);
  }
  /* line 175, ../sass/_header.sass */
  .main-nav__toggle--opened .main-nav__toggle-bar-middle {
    opacity: 0;
  }
  /* line 178, ../sass/_header.sass */
  .main-nav__toggle--opened .main-nav__toggle-bar-bottom {
    margin-left: -4px;
    width: 43px;
    transform: translateY(-13px) rotate(-135deg);
  }
  /* line 183, ../sass/_header.sass */
  .main-nav__cart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 50px;
    background-color: #6a4d38;
  }
  /* line 192, ../sass/_header.sass */
  .main-nav__num-cart {
    top: 5px;
    right: 5px;
    background-color: #454545;
  }
}
@media (min-width: 768px) {
  /* line 202, ../sass/_header.sass */
  .info {
    background-color: #ffffff;
  }
  /* line 205, ../sass/_header.sass */
  .info__logo {
    width: 300px;
  }
  /* line 208, ../sass/_header.sass */
  .info__radio:nth-child(2) {
    display: none;
  }
  /* line 211, ../sass/_header.sass */
  .info__span {
    text-transform: none;
    font-weight: 400;
    color: #454545;
  }
  /* line 216, ../sass/_header.sass */
  .info__span--footer {
    color: #000000;
  }
  /* line 219, ../sass/_header.sass */
  .info__tel {
    color: #6a4d38;
  }

  /* line 226, ../sass/_header.sass */
  .main-nav__navigation {
    display: flex;
    justify-content: center;
  }
  /* line 230, ../sass/_header.sass */
  .main-nav__wrapper {
    flex-grow: 1;
  }
  /* line 233, ../sass/_header.sass */
  .main-nav__toggle {
    display: none;
  }
  /* line 236, ../sass/_header.sass */
  .main-nav__items {
    flex-direction: row;
    justify-content: space-around;
  }
  /* line 240, ../sass/_header.sass */
  .main-nav__item {
    flex-grow: 1;
  }
  /* line 245, ../sass/_header.sass */
  .main-nav__item::after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    top: 10%;
    right: 0;
    background-color: #454545;
  }
  /* line 256, ../sass/_header.sass */
  .main-nav__cart:hover {
    background-image: url("../img/shop/cart-hover.svg");
  }
  /* line 259, ../sass/_header.sass */
  .main-nav__link {
    padding: 20px 0;
  }
  /* line 262, ../sass/_header.sass */
  .main-nav__link:hover {
    transition: 0.3s;
    color: #826550;
  }
}
@media (min-width: 1200px) {
  /* line 268, ../sass/_header.sass */
  .info__radio:nth-child(2) {
    display: block;
  }

  /* line 273, ../sass/_header.sass */
  .main-nav__item--submenu:hover .main-nav__submenu {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 2, ../sass/_slider.sass */
  .slider {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 6, ../sass/_slider.sass */
  .slider {
    position: relative;
    width: auto;
    max-width: 100%;
    border: 20px solid #454545;
    border-top: none;
    border-bottom: 50px solid #454545;
  }
  /* line 14, ../sass/_slider.sass */
  .slider__wrapper {
    margin-bottom: -7px;
  }
  /* line 17, ../sass/_slider.sass */
  .slider__img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
  }
  /* line 25, ../sass/_slider.sass */
  .slider__img--show {
    position: relative;
    opacity: 1;
    z-index: 2;
  }
  /* line 30, ../sass/_slider.sass */
  .slider__control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    padding: 30px 20px;
    font-size: 20px;
    font-weight: bold;
    z-index: 3;
    user-select: none;
    color: #ffffff;
  }
  /* line 43, ../sass/_slider.sass */
  .slider__control--prev {
    left: 0;
    border-radius: 0 10px 10px 0;
  }
  /* line 47, ../sass/_slider.sass */
  .slider__control--next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }
  /* line 51, ../sass/_slider.sass */
  .slider__control:hover, .slider__control:active {
    background-color: #2a2a2a;
    opacity: 0.7;
    transition: 0.3s;
  }
  /* line 57, ../sass/_slider.sass */
  .slider__dots {
    position: absolute;
    cursor: pointer;
    bottom: -39px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* line 64, ../sass/_slider.sass */
  .slider__dot {
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
    width: 15px;
    height: 15px;
    background-color: #2a2a2a;
    border-radius: 50%;
  }
  /* line 73, ../sass/_slider.sass */
  .slider__dot--active, .slider__dot:hover {
    transition: 0.3s;
    background-color: #000000;
  }
}
/* line 1, ../sass/_features.sass */
.feature {
  width: auto;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_features.sass */
  .feature {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 4, ../sass/_features.sass */
.feature__wrapper {
  display: flex;
}
/* line 7, ../sass/_features.sass */
.feature-item {
  text-align: center;
}
/* line 10, ../sass/_features.sass */
.feature-item__header {
  font-size: 25px;
  line-height: 30px;
}
/* line 14, ../sass/_features.sass */
.feature-item__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
/* line 20, ../sass/_features.sass */
.feature-item__descr {
  max-width: 300px;
  margin: 10px auto;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 767px) {
  /* line 27, ../sass/_features.sass */
  .feature {
    position: relative;
    overflow: hidden;
  }
  /* line 31, ../sass/_features.sass */
  .feature__wrapper {
    position: relative;
    left: 0;
    width: 300%;
    transition: 1s;
  }
  /* line 37, ../sass/_features.sass */
  .feature-item {
    flex-basis: 33.3%;
    flex-grow: 1;
  }
  /* line 41, ../sass/_features.sass */
  .feature__control {
    position: absolute;
    top: 50%;
    padding: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }
  /* line 51, ../sass/_features.sass */
  .feature__control--prev {
    left: 0;
  }
  /* line 54, ../sass/_features.sass */
  .feature__control--next {
    right: 0;
  }
}
@media (min-width: 768px) {
  /* line 58, ../sass/_features.sass */
  .feature {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  /* line 61, ../sass/_features.sass */
  .feature__wrapper {
    justify-content: space-around;
  }
  /* line 64, ../sass/_features.sass */
  .feature-item {
    position: relative;
    width: 26%;
  }
  /* line 68, ../sass/_features.sass */
  .feature__control {
    display: none;
  }
}
/* line 1, ../sass/_main-info.sass */
.text-header {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
/* line 7, ../sass/_main-info.sass */
.text-header::after {
  position: relative;
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  left: 5%;
  top: -45px;
  z-index: 1;
}

/* line 17, ../sass/_main-info.sass */
.text-h {
  position: relative;
  display: inline-block;
  font-size: 35px;
  line-height: 35px;
  margin-top: 50px;
  padding: 0 15px;
  z-index: 2;
}

/* line 27, ../sass/_main-info.sass */
.main-info {
  background-color: #dadada;
}
/* line 31, ../sass/_main-info.sass */
.main-info__header::after {
  background-color: #000000;
}
/* line 34, ../sass/_main-info.sass */
.main-info__h {
  background-color: #dadada;
}
/* line 37, ../sass/_main-info.sass */
.main-info__p {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  padding-bottom: 50px;
}
/* line 44, ../sass/_main-info.sass */
.main-info__link {
  color: #000000;
  text-decoration: underline;
  transition: 0.3s;
}
/* line 49, ../sass/_main-info.sass */
.main-info__link:hover {
  color: #6a4d38;
}

/* line 1, ../sass/_funcs.sass */
.func {
  background-color: #2a2a2a;
}
/* line 4, ../sass/_funcs.sass */
.func__header {
  color: #ffffff;
}
/* line 6, ../sass/_funcs.sass */
.func__header::after {
  background-color: #ffffff;
}
/* line 9, ../sass/_funcs.sass */
.func__h {
  color: #ffffff;
  background-color: #2a2a2a;
}
/* line 13, ../sass/_funcs.sass */
.func__items {
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  /* line 13, ../sass/_funcs.sass */
  .func__items {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 19, ../sass/_funcs.sass */
.func__item {
  position: relative;
  text-align: center;
  min-width: 256px;
  flex-basis: 33%;
  flex-grow: 1;
  padding-bottom: 20px;
}
/* line 27, ../sass/_funcs.sass */
.func__p {
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  color: #b1b1b1;
}
/* line 33, ../sass/_funcs.sass */
.func__link {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: underline;
}
/* line 40, ../sass/_funcs.sass */
.func__link:hover {
  color: #6a4d38;
}
/* line 43, ../sass/_funcs.sass */
.func__item:nth-child(2) {
  background-color: #363636;
}
/* line 46, ../sass/_funcs.sass */
.func__item:nth-child(3) {
  background-color: #454545;
}
/* line 49, ../sass/_funcs.sass */
.func__item:nth-child(4) {
  background-color: #888888;
}
/* line 52, ../sass/_funcs.sass */
.func__item:nth-child(5) {
  background-color: #a3a3a3;
}
/* line 55, ../sass/_funcs.sass */
.func__item:nth-child(6) {
  position: relative;
  background-color: #dadada;
}
/* line 59, ../sass/_funcs.sass */
.func__item:nth-child(6)::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 10%;
  background-color: #6a4d38;
}
/* line 70, ../sass/_funcs.sass */
.func__item:nth-child(6) .func__link {
  display: none;
}
/* line 74, ../sass/_funcs.sass */
.func__item:nth-child(n+4) .func__header {
  color: #000000;
}
/* line 77, ../sass/_funcs.sass */
.func__item:nth-child(n+4) .func__link {
  color: #000000;
}
/* line 80, ../sass/_funcs.sass */
.func__item:nth-child(n+4) .func__link:hover {
  color: #6a4d38;
}
/* line 83, ../sass/_funcs.sass */
.func__item:nth-child(n+4) .func__p {
  color: #454545;
}

/* line 1, ../sass/_reviews.sass */
.reviews {
  position: relative;
  padding: 40px 0;
  width: auto;
  background-color: #dadada;
  overflow: hidden;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_reviews.sass */
  .reviews {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 9, ../sass/_reviews.sass */
.reviews__header::after {
  background-color: #000000;
}
/* line 12, ../sass/_reviews.sass */
.reviews__h {
  background-color: #ffffff;
}
/* line 15, ../sass/_reviews.sass */
.reviews__wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 200%;
  left: 0;
  transition: 1s;
}
/* line 23, ../sass/_reviews.sass */
.reviews__item {
  width: 12%;
  text-align: center;
}
/* line 27, ../sass/_reviews.sass */
.reviews__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
/* line 37, ../sass/_reviews.sass */
.reviews__control--prev {
  left: 0;
}
/* line 40, ../sass/_reviews.sass */
.reviews__control--next {
  right: 0;
}
/* line 44, ../sass/_reviews.sass */
.reviews__name {
  font-size: 20px;
}
/* line 47, ../sass/_reviews.sass */
.reviews__review {
  margin-bottom: 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  /* line 53, ../sass/_reviews.sass */
  .reviews__wrapper {
    width: 600%;
  }
  /* line 56, ../sass/_reviews.sass */
  .reviews__item {
    flex-basis: 33.3%;
    flex-grow: 1;
  }
  /* line 60, ../sass/_reviews.sass */
  .reviews__review {
    max-width: 300px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
/* line 1, ../sass/_news.sass */
.news {
  width: auto;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_news.sass */
  .news {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 5, ../sass/_news.sass */
.news__header::after {
  top: -70px;
  background-color: #000000;
}
/* line 9, ../sass/_news.sass */
.news__h {
  background-color: #ffffff;
}
/* line 12, ../sass/_news.sass */
.news__wrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* line 17, ../sass/_news.sass */
.news__item {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 0 15px;
}
/* line 23, ../sass/_news.sass */
.news__item::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 80%;
  right: 10px;
  top: 10%;
  background-color: #6a4d38;
}
/* line 32, ../sass/_news.sass */
.news__item:last-of-type::after {
  display: none;
}
/* line 35, ../sass/_news.sass */
.news__img {
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-color: #2a2a2a;
}
/* line 42, ../sass/_news.sass */
.news__descr {
  max-width: 300px;
}

@media (max-width: 767px) {
  /* line 48, ../sass/_news.sass */
  .news__wrapper {
    flex-direction: column;
    justify-content: center;
  }
  /* line 52, ../sass/_news.sass */
  .news__item {
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 30px;
  }
  /* line 57, ../sass/_news.sass */
  .news__item::after {
    width: 80%;
    height: 2px;
    left: 10%;
    top: 95%;
  }
}
@media (max-width: 1199px) {
  /* line 65, ../sass/_news.sass */
  .news__item {
    flex-direction: column;
    align-items: center;
  }
  /* line 69, ../sass/_news.sass */
  .news__item::after {
    right: 0;
  }
}
/* line 1, ../sass/_footer.sass */
.footer {
  color: #ffffff;
  background-color: #2a2a2a;
  font-size: 16px;
}
/* line 7, ../sass/_footer.sass */
.footer__h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
/* line 12, ../sass/_footer.sass */
.footer__wrapper {
  width: auto;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  /* line 12, ../sass/_footer.sass */
  .footer__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 17, ../sass/_footer.sass */
.footer-adds {
  font-style: normal;
}
/* line 20, ../sass/_footer.sass */
.footer-adds__h3 {
  font-size: 25px;
  text-transform: none;
}
/* line 24, ../sass/_footer.sass */
.footer-adds__address {
  margin-bottom: 20px;
}
/* line 27, ../sass/_footer.sass */
.footer-adds__tels {
  display: flex;
}
/* line 30, ../sass/_footer.sass */
.footer-adds__tel {
  margin-right: 30px;
}
/* line 34, ../sass/_footer.sass */
.footer-social__wrapper {
  text-align: center;
}
/* line 36, ../sass/_footer.sass */
.footer-social__link {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #454545;
  transition: 0.5s;
}
/* line 46, ../sass/_footer.sass */
.footer-social__link:hover {
  background-color: #dadada;
}
/* line 49, ../sass/_footer.sass */
.footer-social__link--vk {
  background-image: url("../img/index/vk.png");
}
/* line 51, ../sass/_footer.sass */
.footer-social__link--vk:hover {
  background-image: url("../img/index/vk-w.png");
}
/* line 54, ../sass/_footer.sass */
.footer-social__link--fb {
  background-image: url("../img/index/fb.png");
}
/* line 56, ../sass/_footer.sass */
.footer-social__link--fb:hover {
  background-image: url("../img/index/fb-w.png");
}
/* line 59, ../sass/_footer.sass */
.footer-social__link--inst {
  background-image: url("../img/index/inst.png");
}
/* line 61, ../sass/_footer.sass */
.footer-social__link--inst:hover {
  background-image: url("../img/index/inst-w.png");
}
/* line 65, ../sass/_footer.sass */
.footer-develop__created {
  margin-bottom: 40px;
}
/* line 67, ../sass/_footer.sass */
.footer-develop__company {
  padding: 11px;
  background-color: #454545;
  transition: 0.5s;
}
/* line 71, ../sass/_footer.sass */
.footer-develop__company:hover {
  background-color: #dadada;
  color: #000000;
}

@media (max-width: 1199px) {
  /* line 78, ../sass/_footer.sass */
  .footer__wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  /* line 82, ../sass/_footer.sass */
  .footer__item {
    width: 40%;
    text-align: center;
  }
  /* line 86, ../sass/_footer.sass */
  .footer-social {
    order: 3;
    margin-bottom: 20px;
  }
  /* line 91, ../sass/_footer.sass */
  .footer-adds__tels {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  /* line 97, ../sass/_footer.sass */
  .footer__wrapper {
    flex-direction: column;
  }
  /* line 100, ../sass/_footer.sass */
  .footer__item {
    width: 100%;
    margin-bottom: 30px;
  }
  /* line 104, ../sass/_footer.sass */
  .footer__h3 {
    margin-bottom: 10px;
  }
  /* line 108, ../sass/_footer.sass */
  .footer-adds__tel {
    margin-bottom: 0;
  }
}
/* line 2, ../sass/_request.sass */
.request__h2 {
  margin-top: 60px;
  text-align: center;
}
/* line 6, ../sass/_request.sass */
.request__btn {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 250px;
}

@media (min-width: 768px) {
  /* line 12, ../sass/_request.sass */
  .request {
    display: none;
  }
}
/* line 1, ../sass/_popup.sass */
.popup-request {
  position: fixed;
  display: none;
  box-sizing: border-box;
  top: 10%;
  left: 50%;
  width: 90%;
  max-height: 90%;
  max-width: 500px;
  padding: 0 10px;
  transform: translateX(-50%);
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
/* line 16, ../sass/_popup.sass */
.popup-request__close {
  position: absolute;
  box-sizing: border-box;
  content: "";
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 29, ../sass/_popup.sass */
.popup-request__close::before, .popup-request__close::after {
  position: absolute;
  content: "";
  top: 45%;
  left: 7px;
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  transition: 0.3s;
}
/* line 40, ../sass/_popup.sass */
.popup-request__close::before {
  transform: rotate(45deg);
}
/* line 43, ../sass/_popup.sass */
.popup-request__close::after {
  transform: rotate(-45deg);
}
/* line 48, ../sass/_popup.sass */
.popup-request__close:hover::before, .popup-request__close:hover::after {
  background-color: #6a4d38;
}
/* line 52, ../sass/_popup.sass */
.popup-request__h2 {
  position: relative;
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
}
/* line 58, ../sass/_popup.sass */
.popup-request__h2::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 2px;
  bottom: -10px;
  left: 20%;
  background-color: #6a4d38;
}
/* line 69, ../sass/_popup.sass */
.popup-request__item {
  margin-left: 10px;
}
/* line 72, ../sass/_popup.sass */
.popup-request__btn {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 3px solid #dadada;
  transition: 0.3s;
}
/* line 80, ../sass/_popup.sass */
.popup-request__btn:focus {
  border: 3px solid #826550;
  outline: none;
}
/* line 84, ../sass/_popup.sass */
.popup-request__btn:hover {
  border: 3px solid #826550;
  outline: none;
}
/* line 88, ../sass/_popup.sass */
.popup-request__btn::placeholder {
  color: #CC3434;
}
/* line 91, ../sass/_popup.sass */
.popup-request__textarea {
  resize: none;
}
/* line 94, ../sass/_popup.sass */
.popup-request__submit {
  margin: 30px auto;
}
/* line 98, ../sass/_popup.sass */
.popup-request__thanks {
  max-width: 250px;
  margin: 70px auto;
  text-align: center;
  font-size: 21px;
}

/* line 104, ../sass/_popup.sass */
.overlay {
  z-index: 5;
  position: fixed;
  display: none;
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

@media (max-width: 767px) {
  /* line 117, ../sass/_popup.sass */
  .popup-request {
    top: 5%;
  }
}
@media (max-height: 660px) {
  /* line 121, ../sass/_popup.sass */
  .popup-request {
    overflow-y: scroll;
  }
}
/* line 2, ../sass/_filter.sass */
.search {
  position: relative;
  display: flex;
  width: auto;
}
@media (min-width: 1200px) {
  /* line 2, ../sass/_filter.sass */
  .search {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 7, ../sass/_filter.sass */
.search__result {
  box-sizing: border-box;
  min-width: 220px;
  flex-grow: 1;
  padding: 5px 10px;
  height: 40px;
  border: 2px solid #454545;
  border-right: none;
}
/* line 16, ../sass/_filter.sass */
.search__submit {
  width: 60px;
  height: 40px;
  border: none;
  background-color: #454545;
  background-image: url("../img/shop/search.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}
/* line 27, ../sass/_filter.sass */
.search__submit:hover {
  background-color: #2a2a2a;
}

/* line 30, ../sass/_filter.sass */
.filter {
  position: relative;
  width: auto;
  margin-bottom: 20px;
  background-color: #dadada;
}
@media (min-width: 1200px) {
  /* line 30, ../sass/_filter.sass */
  .filter {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 36, ../sass/_filter.sass */
.filter::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #6a4d38;
}
/* line 45, ../sass/_filter.sass */
.filter__header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  user-select: none;
}
/* line 52, ../sass/_filter.sass */
.filter__header:hover {
  cursor: pointer;
}
/* line 56, ../sass/_filter.sass */
.filter__h2 {
  margin: 0;
  font-size: 24px;
}
/* line 60, ../sass/_filter.sass */
.filter__arrow {
  margin-left: 20px;
  width: 30px;
  height: 32px;
  transition: 0.3s;
}
/* line 66, ../sass/_filter.sass */
.filter__fieldset {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  border: none;
}
/* line 72, ../sass/_filter.sass */
.filter__fieldset::after, .filter__fieldset:first-of-type::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 10%;
  background-color: #6a4d38;
}
/* line 82, ../sass/_filter.sass */
.filter__fieldset:first-of-type::before {
  top: 0;
}
/* line 87, ../sass/_filter.sass */
.filter__legend {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}
/* line 92, ../sass/_filter.sass */
.filter__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
  flex-wrap: wrap;
}
/* line 99, ../sass/_filter.sass */
.filter__wrapper--amount {
  justify-content: center;
}
/* line 102, ../sass/_filter.sass */
.filter__item {
  flex-basis: 50%;
}
/* line 105, ../sass/_filter.sass */
.filter__item--number {
  display: flex;
  justify-content: space-around;
}
/* line 109, ../sass/_filter.sass */
.filter__item--type {
  flex-basis: 100%;
}
/* line 112, ../sass/_filter.sass */
.filter__span {
  padding-left: 5px;
}
/* line 115, ../sass/_filter.sass */
.filter__number {
  width: 60%;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #454545;
}
/* line 121, ../sass/_filter.sass */
.filter__number--amount {
  width: 100%;
}
/* line 124, ../sass/_filter.sass */
.filter__number:focus {
  border: 2px solid #000000;
}
/* line 127, ../sass/_filter.sass */
.filter__submit {
  margin: 20px auto;
  margin-bottom: 10px;
}
/* line 131, ../sass/_filter.sass */
.filter__submit:disabled {
  background-color: #454545;
}
/* line 134, ../sass/_filter.sass */
.filter__checkbox {
  display: none;
}
/* line 137, ../sass/_filter.sass */
.filter__checkbox--check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: sub;
  border-radius: 5px;
  background-color: #826550;
}
/* line 146, ../sass/_filter.sass */
.filter__checkbox--check:hover {
  background-color: #6a4d38;
}
/* line 149, ../sass/_filter.sass */
.filter__checkbox--check::before, .filter__checkbox--check::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #ffffff;
  transition: 0.1s;
  opacity: 0;
}
/* line 158, ../sass/_filter.sass */
.filter__checkbox--check::before {
  width: 8px;
  left: 2px;
  top: 10px;
  transform: rotate(45deg);
}
/* line 164, ../sass/_filter.sass */
.filter__checkbox--check::after {
  width: 13px;
  left: 6px;
  top: 9px;
  transform: rotate(-45deg);
}
/* line 170, ../sass/_filter.sass */
.filter__checkbox:checked + .filter__checkbox--check::before, .filter__checkbox:checked + .filter__checkbox--check::after {
  opacity: 1;
}

@media (min-width: 768px) {
  /* line 178, ../sass/_filter.sass */
  .search__submit {
    width: 80px;
  }

  /* line 183, ../sass/_filter.sass */
  .filter__fieldsets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  /* line 188, ../sass/_filter.sass */
  .filter__fieldset {
    flex-basis: 300px;
  }
  /* line 191, ../sass/_filter.sass */
  .filter__fieldset:first-of-type::before {
    display: none;
  }
  /* line 194, ../sass/_filter.sass */
  .filter__fieldset--submit {
    flex-basis: 100%;
  }
  /* line 198, ../sass/_filter.sass */
  .filter__item--number {
    margin-top: 20px;
  }
}
/* line 1, ../sass/_result-container.sass */
.result-container {
  width: auto;
  padding-bottom: 30px;
  min-height: 510px;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_result-container.sass */
  .result-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 6, ../sass/_result-container.sass */
.result-container__alert {
  max-width: 500px;
  margin-top: 100px;
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  color: #454545;
}

/* line 14, ../sass/_result-container.sass */
.paginator {
  display: block;
  margin: 30px auto;
}

@media (min-width: 768px) {
  /* line 20, ../sass/_result-container.sass */
  .result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
/* line 1, ../sass/_product.sass */
.product {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 400px;
  max-height: 220px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 20px;
  color: #000000;
}
/* line 14, ../sass/_product.sass */
.product::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #826550;
}
/* line 23, ../sass/_product.sass */
.product__title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
/* line 29, ../sass/_product.sass */
.product__info {
  display: flex;
  justify-content: space-between;
}
/* line 33, ../sass/_product.sass */
.product__img {
  width: 100px;
  height: 150px;
  background-color: #826550;
}
/* line 38, ../sass/_product.sass */
.product__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 60%;
}
/* line 45, ../sass/_product.sass */
.product__price, .product__power, .product__amount {
  margin-top: 4px;
  margin-bottom: 4px;
  text-transform: none;
}
/* line 52, ../sass/_product.sass */
.product__price {
  text-decoration: underline;
}
/* line 55, ../sass/_product.sass */
.product__add-cart {
  width: 180px;
  height: 50px;
}

@media (min-width: 768px) {
  /* line 60, ../sass/_product.sass */
  .product {
    flex-grow: 1;
    margin: 0 10px;
  }
}
/* line 1, ../sass/_cart.sass */
.cart {
  position: absolute;
  width: 320px;
  top: 50px;
  right: 0;
  display: none;
  border: 2px solid #2a2a2a;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 14, ../sass/_cart.sass */
.cart__item {
  position: relative;
  display: flex;
  padding: 10px;
  padding-left: 5px;
  text-align: right;
}
/* line 21, ../sass/_cart.sass */
.cart__item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6a4d38;
}
/* line 31, ../sass/_cart.sass */
.cart__item--total {
  display: block;
  padding-bottom: 15px;
}
/* line 34, ../sass/_cart.sass */
.cart__item--total::after {
  display: none;
}
/* line 37, ../sass/_cart.sass */
.cart__link {
  position: relative;
  display: block;
  max-width: 265px;
  padding-right: 10px;
  color: #000000;
  flex-grow: 1;
}
/* line 45, ../sass/_cart.sass */
.cart__link::after {
  position: absolute;
  content: "";
  right: 0;
  top: 10%;
  width: 2px;
  height: 80%;
  background-color: #6a4d38;
}
/* line 54, ../sass/_cart.sass */
.cart__remove {
  position: relative;
  align-self: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
/* line 66, ../sass/_cart.sass */
.cart__remove::after, .cart__remove::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  top: 14px;
  left: 0;
  transition: 0.3s;
  border-radius: 2px;
  background-color: #2a2a2a;
}
/* line 78, ../sass/_cart.sass */
.cart__remove::after {
  transform: rotate(45deg);
}
/* line 81, ../sass/_cart.sass */
.cart__remove::before {
  transform: rotate(-45deg);
}
/* line 85, ../sass/_cart.sass */
.cart__remove:hover::before, .cart__remove:hover::after {
  background-color: #6a4d38;
}
/* line 90, ../sass/_cart.sass */
.cart__title-item {
  float: left;
  margin: 0 5px;
  color: #2a2a2a;
}
/* line 96, ../sass/_cart.sass */
.cart__title-item--1 {
  top: 10px;
}
/* line 99, ../sass/_cart.sass */
.cart__title-item--2 {
  top: 37px;
}
/* line 102, ../sass/_cart.sass */
.cart__name, .cart__price {
  display: inline-block;
  max-width: 225px;
  font-size: 15px;
  line-height: 18px;
}
/* line 109, ../sass/_cart.sass */
.cart__price {
  text-decoration: underline;
}
/* line 112, ../sass/_cart.sass */
.cart__btn {
  margin: 0 auto;
  margin-top: 10px;
}

@media (max-width: 767px) {
  /* line 117, ../sass/_cart.sass */
  .cart {
    box-sizing: border-box;
    border-top: none;
    border-right: none;
  }
}
@media (min-width: 768px) {
  /* line 123, ../sass/_cart.sass */
  .cart {
    top: 66px;
  }
}
/* line 1, ../sass/_item-page.sass */
.cognate-items {
  width: auto;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_item-page.sass */
  .cognate-items {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 4, ../sass/_item-page.sass */
.cognate-items__title {
  text-align: center;
}

/* line 7, ../sass/_item-page.sass */
.item-page {
  margin-top: 30px;
  width: auto;
}
@media (min-width: 1200px) {
  /* line 7, ../sass/_item-page.sass */
  .item-page {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 12, ../sass/_item-page.sass */
.item-page__title {
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
/* line 18, ../sass/_item-page.sass */
.item-page__img {
  width: 250px;
  height: 300px;
  background-color: #6a4d38;
}
/* line 23, ../sass/_item-page.sass */
.item-page__section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
/* line 29, ../sass/_item-page.sass */
.item-page__section-title {
  margin-bottom: 20px;
}
/* line 32, ../sass/_item-page.sass */
.item-page__section--descr, .item-page__section--details {
  background-color: #dadada;
}
/* line 36, ../sass/_item-page.sass */
.item-page__price {
  flex-basis: 50%;
  flex-grow: 1;
  text-align: right;
  text-decoration: underline;
}
/* line 42, ../sass/_item-page.sass */
.item-page__form-buy {
  flex-basis: 100%;
}
/* line 45, ../sass/_item-page.sass */
.item-page__btn {
  margin: 0 auto;
}
/* line 49, ../sass/_item-page.sass */
.item-page__detail {
  flex-basis: 100%;
  margin-top: 0;
  text-transform: none;
  color: #2a2a2a;
}

@media (max-width: 767px) {
  /* line 60, ../sass/_item-page.sass */
  .item-page__section {
    position: relative;
    padding: 20px 15px;
  }
  /* line 64, ../sass/_item-page.sass */
  .item-page__section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #6a4d38;
  }
  /* line 73, ../sass/_item-page.sass */
  .item-page__title {
    font-size: 27px;
    line-height: 30px;
  }
  /* line 77, ../sass/_item-page.sass */
  .item-page__img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  /* line 84, ../sass/_item-page.sass */
  .cognate-items__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* line 89, ../sass/_item-page.sass */
  .item-page {
    margin-top: 50px;
  }
  /* line 92, ../sass/_item-page.sass */
  .item-page__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 97, ../sass/_item-page.sass */
  .item-page__img {
    margin-left: 50px;
  }
  /* line 100, ../sass/_item-page.sass */
  .item-page__section {
    flex-basis: 280px;
    flex-grow: 1;
    align-self: flex-start;
    margin: 20px 0;
    order: 2;
  }
  /* line 107, ../sass/_item-page.sass */
  .item-page__section--price {
    flex-basis: 200px;
    flex-grow: 0;
    margin: 30px;
    align-self: flex-end;
    order: 1;
  }
  /* line 114, ../sass/_item-page.sass */
  .item-page__section--descr, .item-page__section--details {
    position: relative;
    flex-basis: 100%;
    margin: 0;
    padding: 20px;
    background-color: #dadada;
  }
  /* line 122, ../sass/_item-page.sass */
  .item-page__section--descr::after, .item-page__section--details::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6a4d38;
  }
  /* line 131, ../sass/_item-page.sass */
  .item-page__btn {
    margin: 0;
    margin-left: auto;
  }
  /* line 135, ../sass/_item-page.sass */
  .item-page__img {
    margin-bottom: 30px;
    order: 0;
  }
}
/* line 1, ../sass/_page.sass */
.page-header {
  background-color: #dadada;
}
/* line 6, ../sass/_page.sass */
.page-header__header::after {
  top: -40px;
  background-color: #000000;
}
/* line 10, ../sass/_page.sass */
.page-header__descr {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  padding-bottom: 50px;
}
/* line 17, ../sass/_page.sass */
.page-header__h {
  background-color: #dadada;
}

/* line 20, ../sass/_page.sass */
.page-info {
  width: auto;
  background: none;
}
@media (min-width: 1200px) {
  /* line 20, ../sass/_page.sass */
  .page-info {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 26, ../sass/_page.sass */
.page-info__header::after {
  top: -45px;
  background-color: #000000;
}
/* line 30, ../sass/_page.sass */
.page-info__h {
  background-color: #ffffff;
}
/* line 33, ../sass/_page.sass */
.page-info__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 39, ../sass/_page.sass */
.page-info__item {
  position: relative;
  flex-basis: 256px;
  flex-grow: 1;
  padding-bottom: 30px;
}
/* line 45, ../sass/_page.sass */
.page-info__item::before {
  position: absolute;
  content: "";
  background-color: #6a4d38;
}
/* line 50, ../sass/_page.sass */
.page-info__link {
  display: block;
  margin: 0 auto;
  max-width: 230px;
  color: #000000;
}
/* line 56, ../sass/_page.sass */
.page-info__title {
  font-size: 25px;
  text-align: center;
}
/* line 60, ../sass/_page.sass */
.page-info__img {
  width: 200px;
  height: 250px;
  margin: 0 auto;
  background-color: #826550;
}
/* line 66, ../sass/_page.sass */
.page-info__descr {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  /* line 75, ../sass/_page.sass */
  .page-header__descr {
    font-size: 16px;
    width: 90%;
  }

  /* line 80, ../sass/_page.sass */
  .page-info__item::before {
    width: 90%;
    height: 2px;
    bottom: 0;
    left: 5%;
  }
  /* line 86, ../sass/_page.sass */
  .page-info__item:last-of-type::before {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 94, ../sass/_page.sass */
  .page-info__item::before {
    width: 2px;
    height: 80%;
    top: 10%;
    right: 0;
  }
  /* line 101, ../sass/_page.sass */
  .page-info__item:nth-child(3n + 3)::before {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 107, ../sass/_page.sass */
  .page-info__item {
    flex-basis: 301px;
  }
}
/* line 1, ../sass/_page-features.sass */
.page-features {
  background-color: #dadada;
}
/* line 4, ../sass/_page-features.sass */
.page-features__wrapper {
  width: auto;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  /* line 4, ../sass/_page-features.sass */
  .page-features__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 9, ../sass/_page-features.sass */
.page-features__item {
  position: relative;
  flex-basis: 33.3%;
  padding: 0 20px;
}
/* line 14, ../sass/_page-features.sass */
.page-features__item::before {
  position: absolute;
  content: "";
  height: 2px;
  top: 10px;
  left: 20px;
  right: 20px;
  background-color: #826550;
}
/* line 23, ../sass/_page-features.sass */
.page-features__text {
  text-align: center;
  color: #000000;
}

@media (max-width: 767px) {
  /* line 30, ../sass/_page-features.sass */
  .page-features__wrapper {
    display: block;
  }
  /* line 33, ../sass/_page-features.sass */
  .page-features__item {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px 0;
  }
  /* line 38, ../sass/_page-features.sass */
  .page-features__text {
    font-size: 16px;
    padding: 0 10px;
    margin: 0;
  }
}
/* line 1, ../sass/_cart-page.sass */
.checkout {
  width: auto;
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_cart-page.sass */
  .checkout {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 4, ../sass/_cart-page.sass */
.checkout__header::after {
  top: -40px;
  background-color: #000000;
}
/* line 8, ../sass/_cart-page.sass */
.checkout__h {
  background-color: #ffffff;
}
/* line 11, ../sass/_cart-page.sass */
.checkout__wrapper {
  padding: 0 15px;
  margin: 0 auto;
}
/* line 15, ../sass/_cart-page.sass */
.checkout__total {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 20px;
  color: #2a2a2a;
}
/* line 23, ../sass/_cart-page.sass */
.checkout__len-items, .checkout__total-price {
  margin-bottom: 10px;
  position: relative;
}
/* line 28, ../sass/_cart-page.sass */
.checkout__len-items::after, .checkout__total-price::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #6a4d38;
}
/* line 37, ../sass/_cart-page.sass */
.checkout__len-items {
  margin-right: 50px;
}

/* line 41, ../sass/_cart-page.sass */
.main-cart__img {
  width: 90px;
  height: 130px;
  background-color: #6a4d38;
}
/* line 46, ../sass/_cart-page.sass */
.main-cart__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 20px 0;
}
/* line 53, ../sass/_cart-page.sass */
.main-cart__item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #6a4d38;
}
/* line 62, ../sass/_cart-page.sass */
.main-cart__link {
  color: #000000;
}
/* line 65, ../sass/_cart-page.sass */
.main-cart__link:hover {
  text-decoration: underline;
}
/* line 68, ../sass/_cart-page.sass */
.main-cart__remove {
  width: 40px;
  height: 40px;
}
/* line 71, ../sass/_cart-page.sass */
.main-cart__remove-btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
/* line 81, ../sass/_cart-page.sass */
.main-cart__remove-btn::after, .main-cart__remove-btn::before {
  position: absolute;
  content: "";
  top: 18px;
  left: 0;
  width: 40px;
  height: 4px;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #2a2a2a;
}
/* line 93, ../sass/_cart-page.sass */
.main-cart__remove-btn::after {
  transform: rotate(45deg);
}
/* line 96, ../sass/_cart-page.sass */
.main-cart__remove-btn::before {
  transform: rotate(-45deg);
}
/* line 100, ../sass/_cart-page.sass */
.main-cart__remove-btn:hover::before, .main-cart__remove-btn:hover::after {
  background-color: #6a4d38;
}
/* line 104, ../sass/_cart-page.sass */
.main-cart__wrapper {
  align-self: flex-end;
}
/* line 107, ../sass/_cart-page.sass */
.main-cart__item-name {
  font-size: 23px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;
  flex-basis: 80%;
}
/* line 114, ../sass/_cart-page.sass */
.main-cart__item-price {
  text-align: right;
}
/* line 117, ../sass/_cart-page.sass */
.main-cart__label {
  display: flex;
}
/* line 120, ../sass/_cart-page.sass */
.main-cart__number {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #6a4d38;
  cursor: pointer;
}
/* line 127, ../sass/_cart-page.sass */
.main-cart__number::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  top: 19px;
  left: 5px;
  background-color: #ffffff;
}
/* line 137, ../sass/_cart-page.sass */
.main-cart__number--plus::after {
  position: absolute;
  content: "";
  left: 19px;
  top: 5px;
  width: 3px;
  height: 30px;
  background-color: #ffffff;
}
/* line 146, ../sass/_cart-page.sass */
.main-cart__nmb {
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
  width: 40px;
  height: 40px;
  color: #2a2a2a;
}

@media (max-width: 767px) {
  /* line 156, ../sass/_cart-page.sass */
  .checkout__h {
    font-size: 30px;
  }
  /* line 159, ../sass/_cart-page.sass */
  .checkout__total {
    max-width: 500px;
    margin: 0 auto;
  }

  /* line 163, ../sass/_cart-page.sass */
  .main-cart {
    max-width: 500px;
    margin: 0 auto;
  }
  /* line 167, ../sass/_cart-page.sass */
  .main-cart__item-name {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 768px) {
  /* line 175, ../sass/_cart-page.sass */
  .main-cart__item {
    justify-content: flex-start;
  }
  /* line 178, ../sass/_cart-page.sass */
  .main-cart__img {
    margin-right: 50px;
    order: 0;
  }
  /* line 182, ../sass/_cart-page.sass */
  .main-cart__item-name {
    flex-basis: 220px;
    flex-grow: 1;
    order: 1;
  }
  /* line 187, ../sass/_cart-page.sass */
  .main-cart__wrapper {
    margin: 0 10%;
    order: 2;
  }
  /* line 191, ../sass/_cart-page.sass */
  .main-cart__remove {
    order: 3;
  }
}
/* line 1, ../sass/_order.sass */
.order {
  padding-bottom: 30px;
  background-color: #dadada;
}
/* line 5, ../sass/_order.sass */
.order__thanks {
  max-width: 250px;
  margin: 70px auto;
  text-align: center;
  color: #2a2a2a;
  font-size: 21px;
}
/* line 14, ../sass/_order.sass */
.order__header::after {
  background-color: #000000;
}
/* line 17, ../sass/_order.sass */
.order__h {
  background-color: #dadada;
}
/* line 20, ../sass/_order.sass */
.order__form {
  width: auto;
}
@media (min-width: 1200px) {
  /* line 20, ../sass/_order.sass */
  .order__form {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 24, ../sass/_order.sass */
.order__fieldset {
  margin: 0;
  border: none;
}
/* line 28, ../sass/_order.sass */
.order__fieldset--submit {
  margin-top: 30px;
}
/* line 31, ../sass/_order.sass */
.order__fieldset:first-of-type {
  position: relative;
}
/* line 33, ../sass/_order.sass */
.order__fieldset:first-of-type::after {
  position: absolute;
  content: "";
  background-color: #2a2a2a;
}
/* line 38, ../sass/_order.sass */
.order__label {
  width: 100%;
}
/* line 41, ../sass/_order.sass */
.order__input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  transition: 0.3s;
  border: 3px solid #826550;
}
/* line 48, ../sass/_order.sass */
.order__input::placeholder {
  color: #CC3434;
}
/* line 51, ../sass/_order.sass */
.order__input:hover {
  border: 3px solid #454545;
}
/* line 54, ../sass/_order.sass */
.order__input--textarea {
  outline: none;
  resize: none;
}
/* line 58, ../sass/_order.sass */
.order__submit {
  margin: 0 auto;
  margin-top: 30px;
}
/* line 62, ../sass/_order.sass */
.order__title {
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  /* line 71, ../sass/_order.sass */
  .order__header::after {
    top: -60px;
  }
  /* line 73, ../sass/_order.sass */
  .order__h {
    font-size: 30px;
    max-width: 210px;
    word-wrap: break-word;
  }
  /* line 77, ../sass/_order.sass */
  .order__fieldset {
    max-width: 400px;
    padding: 0 20px;
    margin: 0 auto;
  }
  /* line 82, ../sass/_order.sass */
  .order__fieldset:first-of-type {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  /* line 86, ../sass/_order.sass */
  .order__fieldset:first-of-type::after {
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 2px;
  }
}
@media (min-width: 768px) {
  /* line 94, ../sass/_order.sass */
  .order__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /* line 100, ../sass/_order.sass */
  .order__fieldset {
    flex-grow: 1;
    max-width: 400px;
    padding: 0 5%;
  }
  /* line 107, ../sass/_order.sass */
  .order__fieldset:first-of-type::after {
    right: -1px;
    top: 0;
    bottom: 0;
    width: 2px;
  }
  /* line 113, ../sass/_order.sass */
  .order__fieldset--submit {
    flex-basis: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 118, ../sass/_order.sass */
  .order__fieldset {
    padding: 0 10%;
  }
}
/* line 1, ../sass/_contact-page.sass */
.contact-page {
  background-color: #dadada;
  padding-bottom: 30px;
}
/* line 5, ../sass/_contact-page.sass */
.contact-page__header::after {
  background-color: #000000;
  top: -42px;
}
/* line 9, ../sass/_contact-page.sass */
.contact-page__h {
  margin-top: 30px;
  background-color: #dadada;
}
/* line 13, ../sass/_contact-page.sass */
.contact-page__main-info {
  width: auto;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  /* line 13, ../sass/_contact-page.sass */
  .contact-page__main-info {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 17, ../sass/_contact-page.sass */
.contact-page__section {
  margin-bottom: 20px;
}
/* line 19, ../sass/_contact-page.sass */
.contact-page__section:last-of-type {
  margin-bottom: 0;
}
/* line 22, ../sass/_contact-page.sass */
.contact-page__title, .contact-page__info {
  text-align: center;
  text-transform: none;
}
/* line 27, ../sass/_contact-page.sass */
.contact-page__title {
  display: block;
  font-size: 21px;
}
/* line 31, ../sass/_contact-page.sass */
.contact-page__info {
  margin: 0;
  font-weight: normal;
}

/* line 35, ../sass/_contact-page.sass */
.map {
  width: auto;
}
@media (min-width: 1200px) {
  /* line 35, ../sass/_contact-page.sass */
  .map {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
/* line 38, ../sass/_contact-page.sass */
.map__header::after {
  background-color: #000000;
  top: -45px;
}
/* line 42, ../sass/_contact-page.sass */
.map__h {
  margin-top: 30px;
  background-color: #ffffff;
}
/* line 46, ../sass/_contact-page.sass */
.map__map {
  display: block;
  width: 90%;
  min-width: 320px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  /* line 56, ../sass/_contact-page.sass */
  .contact-page__main-info {
    width: 90%;
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  /* line 62, ../sass/_contact-page.sass */
  .contact-page__main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* line 67, ../sass/_contact-page.sass */
  .contact-page__section {
    flex-basis: 50%;
    margin-bottom: 40px;
  }
  /* line 71, ../sass/_contact-page.sass */
  .contact-page__info {
    max-width: 350px;
    margin: 0 auto;
  }

  /* line 76, ../sass/_contact-page.sass */
  .map__map {
    height: 500px;
  }
}
