<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <title>Контакты | «КазЭнергоСтрой»</title>
  {% include 'base/head.html' %}
</head>
<body>
<header class="header">
  {% include 'base/header.html' %}
</header>
<main>
  <div class="contact-page">
    <div class="contact-page__header text-header">
      <h1 class="contact-page__h text-h">контакты</h1>
    </div>
    <div class="contact-page__main-info">
      <section class="contact-page__section">
        <span class="contact-page__title">КазЭнергоСтрой</span>
        <p class="contact-page__info">г.Казань, ул.М.Гафури, д. 50, к. 2, офис 2</p>
      </section>
      <section class="contact-page__section">
        <span class="contact-page__title">Телефоны</span>
        <p class="contact-page__info">240-00-26, 240-57-26</p>
      </section>
      <section class="contact-page__section">
        <span class="contact-page__title">Режим работы</span>
        <p class="contact-page__info">понедельник-пятница с 9.00 - 18.00<br>суббота с 9.00 - 15.00<br>воскресенье -
          выходной</p>
      </section>
      <section class="contact-page__section">
        <span class="contact-page__title">По вопросам качества обслуживания:</span>
        <p class="contact-page__info">8-906-320-18-75 - Мухутдинов Руслан Ринатович, директор компании
          "КазЭнергоСтрой"</p>
      </section>
    </div>

  </div>
  <div class="map">
    <div class="map__header text-header">
      <h2 class="map__h text-h">на карте</h2>
    </div>
    <iframe
        class="map__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.550045895224!2d49.10337456954135!3d55.76721396731707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415952cb264e8c41%3A0x35429fe36b49f35a!2zVi5JLlAuINCh0LDRg9C90Ys!5e0!3m2!1sru!2sru!4v1516138444025"
        frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="request">
    <h2 class="request__h2">заинтересовались?</h2>
    <button class="request__btn btn">оставить заявку</button>
  </div>
</main>
<footer class="footer">
  {% include 'base/footer.html' %}
</footer>
{% include 'base/popup-request.html' %}
<script src="{% static 'static/js/header.js' %}"></script>
</body>
</html>
