<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <title>Строительная компания «КазЭнергоСтрой» - Казань, Татарстан</title>
  <meta name="description" content="Компания КазЭнергоСтрой специализируется на выполнении отделочных работ, строительстве саун, бань, инфракрасных кабин, турецких парных (хамамов), соляных пещер.">
  {% include 'base/head.html' %}
</head>
<body>
  <header class="header">
    {% include 'base/header.html' %}
  </header>
  <main>
    <div class="slider">
      <div class="slider__wrapper">
        <picture>
          <source srcset="{% static 'static/img/index/slider/1.jpg' %}" media="(min-width: 1200px)">
          <img class="slider__img slider__img--show" src="{% static 'static/img/index/slider/1200/1.jpg' %}" alt="slide-1">
        </picture>
        <picture>
          <source srcset="{% static 'static/img/index/slider/2.jpg' %}" media="(min-width: 1200px)">
          <img class="slider__img" src="{% static 'static/img/index/slider/1200/2.jpg' %}" alt="slide-2">
        </picture>
        <picture>
          <source srcset="{% static 'static/img/index/slider/3.jpg' %}" media="(min-width: 1200px)">
          <img class="slider__img" src="{% static 'static/img/index/slider/1200/3.jpg' %}" alt="slide-3">
        </picture>
        <picture>
          <source srcset="{% static 'static/img/index/slider/4.jpg' %}" media="(min-width: 1200px)">
          <img class="slider__img" src="{% static 'static/img/index/slider/1200/4.jpg' %}" alt="slide-4">
        </picture>
        <picture>
          <source srcset="{% static 'static/img/index/slider/5.jpg' %}" media="(min-width: 1200px)">
          <img class="slider__img" src="{% static 'static/img/index/slider/1200/5.jpg' %}" alt="slide-5">
        </picture>
      </div>
      <span class="slider__control slider__control--prev">&#10094;</span>
      <span class="slider__control slider__control--next">&#10095;</span>
      <div class="slider__dots">
        <span class="slider__dot slider__dot--active" data-num="0"></span>
        <span class="slider__dot" data-num="1"></span>
        <span class="slider__dot" data-num="2"></span>
        <span class="slider__dot" data-num="3"></span>
        <span class="slider__dot" data-num="4"></span>
      </div>
    </div>
    <div class="main-info">
      <div class="main-info__header text-header">
        <h2 class="main-info__h text-h">О компании</h2>
      </div>
      <p class="main-info__p">Компания "КазЭнергоСтрой" занимается строительством банных комплексов: от саун и бань, до турецких парных и бассейнов.
         Также в наш спектр услуг входят общестроительные и отделочные работы.
         Если же вы решили заняться строительством самостоятельно, то на этом сайте вы сможете найти полезные материалы, а также посетить наш <a class="main-info__link" href="{% url 'shop:home' %}">интернет-магазин</a>.</p>
    </div>
    <div class="feature">
      <div class="feature__wrapper">
        <div class="feature-item">
          <h3 class="feature-item__header">Качественно</h3>
          <img src="{% static 'static/img/index/like.svg' %}" alt="like" class="feature-item__img">
          <p class="feature-item__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae,
            inventore.</p>
        </div>
        <div class="feature-item">
          <h3 class="feature-item__header">В сроки</h3>
          <img src="{% static 'static/img/index/clock.svg' %}" alt="clock" class="feature-item__img">
          <p class="feature-item__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, possimus?</p>
        </div>
        <div class="feature-item">
          <h3 class="feature-item__header">Lorem ipsum.</h3>
          <!-- <img src="" alt="" class="feature-item__img"> -->
          <p class="feature-item__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
            accusantium.</p>
        </div>
      </div>
      <span class="feature__control feature__control--prev">&#10094;</span>
      <span class="feature__control feature__control--next">&#10095;</span>
    </div>
    <div class="func">
      <div class="func__header text-header">
        <h2 class="func__h text-h">наши услуги:</h2>
      </div>
      <div class="func__items">
        <section class="func__item">
          <h3 class="func__header">сауны и бани</h3>
          <p class="func__p">Lorem ipsum dolor sit amet.</p>
          <a href="" class="func__link">подробнее</a>
        </section>
        <section class="func__item">
          <h3 class="func__header">хамамы</h3>
          <p class="func__p">Lorem ipsum dolor sit amet.</p>
          <a href="" class="func__link">подробнее</a>
        </section>
        <section class="func__item">
          <h3 class="func__header">инфракарсные сауны</h3>
          <p class="func__p">Lorem ipsum dolor sit amet.</p>
          <a href="" class="func__link">подробнее</a>
        </section>
        <section class="func__item">
          <h3 class="func__header">соляные пещеры</h3>
          <p class="func__p">Lorem ipsum dolor sit amet.</p>
          <a href="" class="func__link">подробнее</a>
        </section>
        <section class="func__item">
          <h3 class="func__header">отделочные работы</h3>
          <p class="func__p">Lorem ipsum dolor sit amet.</p>
          <a href="" class="func__link">подробнее</a>
        </section>
        <section class="func__item">
          <h3 class="func__header">радостные клиенты))</h3>
          <p class="func__p">Lorem ipsum dolor sit amet.</p>
          <a href="" class="func__link">подробнее</a>
        </section>
      </div>
    </div>
    <div class="reviews">
      <div class="reviews__wrapper">
        <section class="reviews__item">
          <span class="reviews__name">Lorem ipsum.</span>
          <p class="reviews__review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, explicabo.</p>
        </section>
        <section class="reviews__item">
          <span class="reviews__name">Lorem ipsum.</span>
          <p class="reviews__review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ex.</p>
        </section>
        <section class="reviews__item">
          <span class="reviews__name">Lorem ipsum.</span>
          <p class="reviews__review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cupiditate?</p>
        </section>
        <section class="reviews__item">
          <span class="reviews__name">Lorem ipsum.</span>
          <p class="reviews__review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, maiores!</p>
        </section>
        <section class="reviews__item">
          <span class="reviews__name">Lorem ipsum.</span>
          <p class="reviews__review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, distinctio.</p>
        </section>
        <section class="reviews__item">
          <span class="reviews__name">Lorem ipsum.</span>
          <p class="reviews__review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, sapiente.</p>
        </section>
      </div>
      <span class="reviews__control reviews__control--prev">&#10094;</span>
      <span class="reviews__control reviews__control--next">&#10095;</span>
    </div>
    <div class="request">
      <h2 class="request__h2">заинтересовались?</h2>
      <button class="request__btn btn">оставить заявку</button>
    </div>
    <div class="news">
      <div class="news__header text-header">
        <h2 class="news__h text-h">Последние<br>новости</h2>
      </div>
      <div class="news__wrapper">
        <div class="news__item">
          <div class="news__img"></div>
          <p class="news__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eum.</p>
        </div>
        <div class="news__item">
          <div class="news__img"></div>
          <p class="news__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, dicta.</p>
        </div>
        <div class="news__item">
          <div class="news__img"></div>
          <p class="news__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, doloremque!</p>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    {% include 'base/footer.html' %}
  </footer>
  {% include 'base/popup-request.html' %}
  <script src="{% static 'static/js/header.js' %}"></script>
  <script src="{% static 'static/js/index.js' %}"></script>
</body>
</html>
